<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>357379174827-hkrjlr8pg14artok9f40qj6dp4tni8s5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357379174827-hkrjlr8pg14artok9f40qj6dp4tni8s5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>357379174827-dm0pd58rrlh4jpocbjlg61cfrd4mp9rp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDv5MgI9G1eycav0r-h9f4LMTiYOQ3Onko</string>
	<key>GCM_SENDER_ID</key>
	<string>357379174827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hanuven</string>
	<key>PROJECT_ID</key>
	<string>hanuven-29189</string>
	<key>STORAGE_BUCKET</key>
	<string>hanuven-29189.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357379174827:ios:97898a53e189bfbea0e2ee</string>
</dict>
</plist>